<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="AngularJS.js"></script>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>

<div class="container" ng-app="sortApp" ng-controller="mainController">

	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" placeholder="Type here to search a document" ng-model="searchDoc">
			</div>
		</div>
	</form>

	<table class="table table-bordered table-striped">
		<thead>
			<tr> 
				<td>
					<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					Names
					<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'fileHash'; sortReverse = !sortReverse">
					FileHash
					<span ng-show="sortType == 'fileHash' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'fileHash' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="#" ng-click="sortType = 'owner'; sortReverse = !sortReverse">
					Owner 
					<span ng-show="sortType == 'owner' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'owner' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in document | orderBy:sortType:sortReverse | filter:searchDoc">
				<td>{{ doc.name }}</td>
				<td>{{ doc.fileHash }}</td>
				<td>{{ doc.owner }}</td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>
